In [1]:
import pandas as pd
import numpy as np

In [2]:
customer_names = pd.read_csv(r"C:\Users\micha\Desktop\Nowy folder\northwind-mongo-master\customers.csv",usecols=['CustomerID','CompanyName'])

In [3]:
customer_cities = pd.read_csv(r"C:\Users\micha\Desktop\Nowy folder\northwind-mongo-master\customers.csv",usecols=['CustomerID','Country'])

In [5]:
customer_cities.size

182

In [6]:
len(customer_cities)

91

In [7]:
len(customer_names)

91

In [8]:
customer_cities.set_index("CustomerID", inplace=True)

In [9]:
customer_names.set_index('CustomerID', inplace=True)

In [10]:
customer_cities.head()

            Country
CustomerID
ALFKI       Germany
ANATR        Mexico
ANTON        Mexico
AROUT            UK
BERGS        Sweden

In [11]:
customer_names.head()

                                   CompanyName
CustomerID
ALFKI                      Alfreds Futterkiste
ANATR       Ana Trujillo Emparedados y helados
ANTON                 Antonio Moreno Taquer?­a
AROUT                          Around the Horn
BERGS                      Berglunds snabbk?¶p

In [14]:
dab =customer_names.join(customer_cities)

In [15]:
len(dab)

91

In [16]:
customer_names.reset_index(inplace=True)

In [17]:
customer_names.head()

  CustomerID                         CompanyName
0      ALFKI                 Alfreds Futterkiste
1      ANATR  Ana Trujillo Emparedados y helados
2      ANTON            Antonio Moreno Taquer?­a
3      AROUT                     Around the Horn
4      BERGS                 Berglunds snabbk?¶p

In [20]:
customer_names.join(customer_cities, on='CustomerID')

   CustomerID                         CompanyName  Country
0       ALFKI                 Alfreds Futterkiste  Germany
1       ANATR  Ana Trujillo Emparedados y helados   Mexico
2       ANTON            Antonio Moreno Taquer?­a   Mexico
3       AROUT                     Around the Horn       UK
4       BERGS                 Berglunds snabbk?¶p   Sweden
..        ...                                 ...      ...
86      WARTH                      Wartian Herkku  Finland
87      WELLI              Wellington Importadora   Brazil
88      WHITC                White Clover Markets      USA
89      WILMK                         Wilman Kala  Finland
90      WOLZA                      Wolski  Zajazd   Poland

[91 rows x 3 columns]